<footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3>{{ site.title }}</h3>
          <p class="mb-5">{{ site.description }}</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="https://www.facebook.com/groups/485628978136235/" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>

        </div>
        <div class="col-md-2 mb-5">
          <h3>The Club</h3>
          <ul class="list-unstyled footer-link">
            <li><a href="/about">About Us</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-4 mb-5">
          <h3>Meetings are the 2nd Thursday of every month.</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <span class="d-block">Address:</span>
              <span class="text-white">600 W Sunshine St, Springfield, MO 65807</span></li>
              {% if site.phone %}
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">{{ site.phone }}</span></li>
              {% endif %}
            <li class="d-block"><span class="d-block">Email:</span><span class="text-white">{{ site.email }}</span></li>
          </ul>
        </div>
        
      </div>
      <div class="row">
        <div class="col-12 text-xs-left text-left">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </footer>