<section class="home-slider owl-carousel">
      
    <div class="slider-item" style="background-image: url('{{ site.baseurl }}/assets/images/nature-home.png');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>{{ page.title }}</h1>
                        <p class="mb-5">{{ page.description }}</p>
                </div>
            </div>
        </div>
    </div>

</section>